{{template "base" .}}

{{define "title"}}{{.Title}}{{end}}

{{block "nav" .}} 
<h2>Pcarriers Co</h2>
{{end}}


{{define "main"}}
{{ .mainRaw}}


{{end}}

{{define "footer"}}
    <footer>Look I have a custom footer</footer>
{{end}}

    {{block "scripts" .}}
    <script src="https://unpkg.com/vue@3"></script>
    <script src="http://localhost:10000/assets/exam.js"></script>
    

{{end}}