{{define "base"}}
    <!doctype html>
    <html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Admin</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link rel="stylesheet" href="http://localhost:10000/assets/main.css" />
    </head>
    <body class="text-center">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

     {{block "nav" . }}
     
 
    {{end}}       
   </nav>
    {{ $fms := flashMessages}}
    {{ $len := len $fms}}
    {{ if gt $len 0 }}
    <div class="alert alert-success" role="alert">
        {{range $fms}}{{.}}{{end}}

    </div>
    {{end}}

    {{block "sidebar" .}}
        <p>Some common content</p>
    {{end}}
    <main role="main" class="container">
        {{template "main" .}}
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {{block "scripts_ex" .}}

    {{end}}
    <div id="output"></div>
    <div id="output2"></div>


    {{template "footer" .}}
    </body>
    </html>
{{end}}